.integrations {
    .listing {
        display: flex;
        flex-direction: column;
        padding: $huge;
        gap: $big;
    }
    .listing-description {
        display: flex;
        flex-direction: column;
    }
}

.modal { display: none; }

.integration-container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: $base;
}
.integration-card {
    > div {
        padding: $big;
        border: 1px solid $border;
        border-radius: 8px;
        background-color: $background-light;
        gap: $base;
        transition: all .2s ease;
        &:hover {
            box-shadow: -7px 15px 23px -5px rgba(0,0,0,0.29);

        }
    }
    .card-head {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .img-wrapper {
        display: flex;
        width: 80px;
        height: 80px;
        border: 1px solid $border;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-bottom: $base;
    }
    img {
        display: block;
        width: 50px;
        width: 50px;
        transition: all .2s ease;
    }
    .integration-copy {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.integration-card:hover {
    img { transform: scale(1.05); }
}