<header class="header">
    <div class="" id="magicallyLogo"><a href="#">AcmeCo</a></div>
    <!-- Top Navigation Bar -->
    <nav>
        <ul>
            <li>
                <a href="#" alt="Integrations">Integrations</a>
                <p class="tooltip">Integrations</p>
            </li>
            <li>
                <a href="/orders" alt="orders">orders</a>
                <p class="tooltip">Orders</p>
            </li>
            <li>
                <a href="/products" alt="products">products</a>
                <p class="tooltip">Products</p>
            </li>
            <li>
                <a href="/contacts" alt="contacts">contacts</a>
                <p class="tooltip">Contacts</p>
            </li>
        </ul>
    </nav>
</header>
