<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/main.css"> <!-- Link to the main.css stylesheet -->
    <% if (javascriptFiles && javascriptFiles.length > 0) { %>
        <% javascriptFiles.forEach(function(file) { %>
          <script src="<%= file %>"></script>
        <% }); %>
      <% } %>
</head>