<header class="header">
    <div class="logo" id="magicallyLogo"><a href="#" style="color: white; text-decoration: none;">Magically</a></div>
    <!-- Top Navigation Bar -->
    <div class="top-nav">
        <a href="/orders">Orders</a>
        <a href="/products">Products</a>
        <a href="/contacts">Contacts</a>
    </div>
</header>
