<header class="header">
    <div class="" id="magicallyLogo"><a href="#">AcmeCo</a></div>
    <!-- Top Navigation Bar -->
    <nav>
        <ul>
            <li>
                <a href="#" alt="Integrations"><i class="ph-smiley"></i></a>
                <p class="tooltip">Integrations</p>
            </li>
            <li>
                <a href="/orders" alt="orders"><i class="ph-smiley"></i></a>
                <p class="tooltip">Orders</p>
            </li>
            <li>
                <a href="/products" alt="products"><i class="ph-smiley"></i></a>
                <p class="tooltip">Products</p>
            </li>
            <li>
                <a href="/contacts" alt="contacts"><i class="ph-smiley"></i></a>
                <p class="tooltip">Contacts</p>
            </li>
        </ul>
    </nav>
</header>
