<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Your Alloy API Key</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Link to the style.css stylesheet -->
</head>
<body>
    <div class="centered">
        <input type="text" id="apiKey" placeholder="Enter Your Alloy API Key">
        <button id="goButton">Go</button>
        <p id="errorMessage" style="color: red;"></p>
    </div>

    <script src="/scripts/index.js"></script>
</body>
</html>
