<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: 'Enter your API key', javascriptFiles: ['https://cdn.runalloy.com/scripts/embedded.js'] }) %>
<body>
    <div class="centered">
        <input type="text" id="apiKey" placeholder="Enter Your Alloy API Key">
        <button id="goButton">Go</button>
        <p id="errorMessage" style="color: red;"></p>
    </div>

    <script src="/scripts/index.js"></script>
</body>
</html>
