<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: 'Orders Dashboard', javascriptFiles: ['https://cdn.runalloy.com/scripts/embedded.js'] }) %>

<body>
  <div class="grid">
    <%- include('partials/header.ejs') %>
    <aside class="sidebar">
        <div class="section">
            <h4>Orders Dashboard</h4>
            <ul>
                <li><a href="#" class="selected">All Orders</a></li>
                <li><a href="#">Pending Orders</a></li>
                <li><a href="#">Completed Orders</a></li>
                <li><a href="#">Returned Orders</a></li>
            </ul>
        </div>
    </aside>

    <div class="list">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Orders Dashboard</h1>
            <button id="createSampleOrder">Create Sample Order</button>
        </div>
        <table>
          <thead>
              <tr>
                  <th>Order Number</th>
                  <th>Customer Name</th>
                  <th>Customer Email</th>
                  <th>Total Price</th>
                  <th>Status</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th>Details</th>
              </tr>
          </thead>
          <tbody id="ordersBody">
              <!-- Dynamic Rows will appear here -->
          </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/faker@5.5.3/dist/faker.min.js"></script>
  <script src="scripts/ordersDashboard.js""></script>
</body>
</html>
