body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
}

.header {
    background-color: #1a6db3;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 500;
}

.header .logo {
    font-size: 20px;
}

.main-content {
    display: flex;
    padding: 30px;
}

.sidebar {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.sidebar .section {
    margin-bottom: 20px;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    text-decoration: none;
    color: #1a6db3;
    font-weight: 400;
}

.integration-container {
    flex: 1;
    margin-left: 30px;
}

button {
    background-color: #1a6db3;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
/* Top Navigation Bar */
.top-nav {
    display: flex;
    gap: 20px; /* Provides spacing between the links */
}

.top-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.top-nav a:hover,
.top-nav a.active {
    background-color: #004a7a;
    color: white;
}
