// Reset
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
blockquote,
pre,
code,
hr,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


// imports font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

html, body { 
  font-family: 'Inter', sans-serif;
  background-color: $background-light;
  color: $text;
  font-size: $base;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0;
}

a { 
  color: $secondary-color;
  text-decoration: none;
  &:hover { color: $primary-color ;}
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
  color: $text-light;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: $base;
}

table {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  thead {
    border-bottom: 2px solid $secondary-color;
    font-size: 14px;;
  }
  th { text-align: left; }
  tr, td, th {
    padding: $base 0;
  };
  tr { 
    border-bottom: 1px solid $border;
    &:hover { background-color: $background-light; }
  }
}

button {
  background: $primary-color;
  height: fit-content;
  color: $text-invert;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid $border;
  &:hover {
    background: $accent-600;
    cursor: pointer;
  }
}

p {
  font-size: 14px;
  color: $text-light;
  margin-bottom: $base;
}