input {
    background: $background-white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid $border;
}

.button {
    background: $primary-color;
    color: $text-invert;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid $border;
}